---
import type { CollectionEntry } from "astro:content";
import { GLOBAL } from "../../lib/variables";
import ArticleSnippet from "../ArticleSnippet.astro";
import Anchor from "../common/Anchor.astro";

interface Props {
  featuredArticles: CollectionEntry<"articles">[];
}

const { featuredArticles } = Astro.props;
---

<div class="flex justify-between items-center w-full">
  <h3 class="font-display text-lg sm:text-xl leading-loose">
    {GLOBAL.articlesName}
  </h3>
  <Anchor url="/blog" class="text-base">{GLOBAL.viewAll}</Anchor>
</div>
<div>
  <!-- <h2 class="text-3xl font-bold mb-8">Featured Articles</h2> -->
  <div class="grid gap-8">
    {
      (featuredArticles.length === 0 && <p>{GLOBAL.noArticles}</p>) ||
        featuredArticles.map((article) => (
          <ArticleSnippet
            title={article.title}
            description={article.description}
            url={article.filename}
            timestamp={article.timestamp}
            duration={`${article.time} min`}
          />
        ))
    }
  </div>
</div>
